---
---

@import "{{ site.theme }}";

#main-content img { max-width: 50%; }
#main-content { font-family: 'Courier New', Courier, monospace; font-size: 18px; } 
header a.button { position: relative ; top: 70px; right: 120px; background: #f1de07; }
header a.button:hover { background: #e18ade; }
aside#sidebar { font-size: 20px; font-family: 'Courier New', Courier, monospace;}

// .top-section img {position: relative; float: left;}
// side bar
.book-buy {
  width: 227px;  // Adjust this value as needed
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}
.caption {
  font-weight: bold;
  font-size: 18px;
}
.forsale {
  width: 200px; 
}
// main content
#main-content .book-buy { max-width: 127%; }
#main-content form {  border-radius: 10px; }
header {
  .inner {
    position: relative;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .book-cover {
    width: 100px;  // Adjust this value as needed
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }

  h1 {
    margin-bottom: 0;
  }

  fa-brands, .fab {
    color: #000000;
    font-size: 35px;
  }
  a.button {
    position: absolute;
    top: 0;
    right: 0;
    //background: #0c529c;
    background: #f1de07;
    padding-left: 24px;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    &:hover {
      background: #e18ade;
    }
    &::before {
      font-family: 'Font Awesome 5 Brands';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 35px;
    }
    small {
      display: block;
      font-size: 25px;
      color: #000000;
    }
  }
   a.button { position: relative ;  background: #f1de07;}
   //a.button { position: absolute ; top: 70px; right: 100px; background: #f1de07; }
}


#social-links {
  display: none;
}