<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
    
  </head>

  <body>
    <header>
      <div class="inner">
        <div class="title-wrapper">
          <!-- <img src="{{ site.baseurl }}/images/book_cover_500_400.png" alt="Book Cover" class="book-cover"> -->
         
          <a href="{{ '/' | absolute_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
          </a>
          <!-- <div class="join-insta insta-button"> -->
          
             
            <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener noreferrer" class="insta-button">  
              <smaller>Join the adventure!</smaller>
              <small>Instagram</small> <img src="{{ site.baseurl }}/images/instagram_logo_cropped.png" class="image-insta" ></img> 
            <!-- <small>Join the adventure!</small> <small>Instagram <div class="image-container"><img src="{{ site.baseurl }}/images/instagram_logo_cropped.png" class="image-insta" ></img></div> <i class="fab fa-instagram"></i></small> -->
          </a>
          <!-- </div> -->
        </div>
        <div class="title-wrapper">
        <!-- {% if site.instagram_username %}
          <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener noreferrer" class="button">
            <small>Join the adventure!</small> <small>Insta  <i class="fab fa-instagram"></i></small>
          </a>
        {% endif %} -->
      </div>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <!-- <div class="forsale">
            <img src="{{ site.baseurl }}/images/book_cover_500_400.png" alt="Book Cover" class="book-buy"/>
            <style>.pp-DVRA3EX28MMAN{text-align:center;border:none;border-radius:1.5rem;min-width:11.625rem;padding:0 2rem;height:2.625rem;font-weight:bold;background-color:#FFD140;color:#000000;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1rem;line-height:1.25rem;cursor:pointer;}</style>
            <form  action="https://www.paypal.com/ncp/payment/DVRA3EX28MMAN" method="post" target="_top" style="display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;">
              <input type="hidden" name="image_url" value="https://nadaliepadalie.com/images/book_cover_500_400.png">
              <input class="pp-DVRA3EX28MMAN" type="submit" value="Buy Now" />
              <img src=https://www.paypalobjects.com/images/Debit_Credit_APM.svg alt="cards" />
              <section> Powered by <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;vertical-align:middle;"/></section>
            </form>
            </div> -->

            <div class="letter-to-np">
              Dear Nadalie Padalie, <br/><br/>
              
              You are continuing your journey and your adventures <strike>will soon be</strike> are being published.
              
              100 years apart, but the saga continues in 2025.
              <br/><br/>
              Keep Climbing.
</div>
              <div class="">
                <img src="{{ site.baseurl }}/images/dress_cat_hat_swing_20230522_200347.jpg" id="nad-stairs"/> 
                </div>
              </div>
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}
<!-- 
          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p> -->
        </aside>
      </div>
    </div>

    <div id="social-links">
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
      {% endif %}
    </div>

  </body>
</html>